* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Trebuchet MS",Arial,sans-serif;/*Betűtipus fallback*/
    background: #eea;
}
.container {
    border:5px solid deeppink;
}

.container > div {/*a container osztályon belüli közvetlen divekre érvényes*/
    background: #fff;
    border:1px solid cornflowerblue;
    color:orange;
    font-size:1.5em;
    padding: 10px;
}

.container > div:nth-child(1) {
    background: #87bfa5;
}
.container > div:nth-child(2) {
    background: #ee5f5a;
}
.container > div:nth-child(3) {
    background: #33a8aa;
}
