* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height:1200px;
}
.container {
    width: 800px;
    margin:0 auto;
    display:block;
}

.myBox {
    width:800px;
    margin: 50px 0;
    background: #d6e8fd;
    text-align:center;
    /*overflow: hidden;*/
}
.item {
    display:inline-block;
    width: 150px;
    height: 150px;
    border:1px solid #000;
    margin: 10px;
}
